<%-include("header")-%>
<div class="container">
<h1><%=query%> temperature is <%=temp%>°</h1>
<p>The weather  is currently <%=weatherDescription%></p> 
<img src=<%=imageURL%> > 
</div>
<%-include("footer") -%>